
function download_hardcoded_extensions() {
    echo -e "\vDownloading ${extension_name} from \n${extension_download_url}"
    sleep  1
    wget -O "/home/$USER/Downloads/${extension_name}_${extension_version}.crx" "${extension_download_url}"
}

function display_hardcoded_extension() {
    echo -e "extension_name:\t\t${extension_name}"
    echo -e "extension_version:\t${extension_version}"
}

function get_hardcoded_extension_info() {
    # accepts a URL
    extension_download_url="${1}"

    extension_name=$(echo "${extension_download_url}" | awk -F/ ' { print $5 } ' | sed 's/-/_/g' )
    extension_version=$(echo "${extension_download_url}" |  awk -F/ ' { print $8 }' | sed 's/v//;s/\./_/g' )

    # for debugging
    display_hardcoded_extension

    download_hardcoded_extensions
}